.home-bg {
  background-image: url("../assets/home-bg.jpeg");
  background-color: #b27d4d;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-tilte-container {
  position: absolute;
  left: 24%;
  top: 17%;
  float: center;
  width: 400px;
  height: 400px;
  margin: auto;
  color: #5a2d04;
  font-size: 58px;
}

.home-nav {
  text-align: start;
  position: relative;
  padding-left: 320px;
  padding-top: 5px;
}

.home-sign {
  text-align: end;
  position: relative;
  padding-right: 30px;
  padding-top: 5px;
}

.home-nav .btn,
.home-sign .btn {
  color: #5a2d04;
}

.home-nav .btn:hover,
.home-sign .btn:hover {
  color: #b37429;
}

.bean-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.wheel-container {
  position: absolute;
  right: 13%;
  top: 11%;
  float: right;
  width: 400px;
  height: 400px;
  margin: auto;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  transform: translate(-50%, -50%);
  animation: spinImage 12s linear infinite;
}

.rotating-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  transform-origin: 50% 50%;
  animation: spinText 20s linear infinite;
}

@keyframes spinImage {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-bg-top {
  background-image: url("../assets/about-bg-top.png");
  background-size: cover;
  background-position: top center;
  height: 260px;
}

.about-bg-bot {
  background-image: url("../assets/about-bg-bot.png");
  background-size: cover;
  background-position: bottom center;
  height: 290px;
}

.about-text {
  position: relative;
  top: -90px;
  color: #b27d4d;
  font-size: 32px;
  margin: 0 auto;
  width: 80%;
  line-height: 1;
}

.search-bg {
  background-image: url("../assets/search-bg.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.search-bg * {
  position: relative;
  z-index: 1;
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 106, 0, 0.3);
  margin-top: 20px;
  height: 40px;
  margin-bottom: 20px;
}

.search-nav {
  display: flex;
  font-size: 32px;
}

.search-nav a {
  text-decoration: none;
  padding: 10px;
  padding-top: 15px;
  color: whitesmoke;
  font-weight: bold;
}

.search-forms {
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  height: 75vh;
}

.left-form {
  text-align: center;
  position: absolute;
  top: 3%;
  width: 30%;
  font-size: 28px;
}

.left-form form label,
.right-form form label {
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 48px;
}

.search-button-left {
  background-color: rgba(255, 106, 0, 0.5);
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
}

.right-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3%;
  left: 35%;
  width: 30%;
}

.right-form form label {
  font-size: 38px;
  text-align: start;
}

.right-form select {
  font-size: 22px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 30px;
  border-radius: 5px;
}

.right-form td:first-child {
  width: 30%;
  padding-right: 40px;
  vertical-align: middle;
}

.right-form td:last-child {
  width: 70%;
  padding-right: 30px;
}

.search-button-right {
  background-color: rgba(255, 106, 0, 0.5);
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  margin-left: 40%;
  margin-top: 7%;
}

.search-map {
  position: absolute;
  top: 4%;
  left: 73%;
  font-size: 48px;
  text-align: center;
}

.search-map img {
  width: 300px;
  height: 300px;
  padding-top: 5%;
}

.search-forms,
.search-header,
.search-map {
  font-family: "Dongle", sans-serif;
}



.search-result-table {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding-right: 130px;
  padding-left: 130px;
}

.bedfort-font {
  font-family: "Mr Bedfort", cursive;
  font-weight: 400;
  font-style: normal;
}

.dongle-font {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form input,
label,
textarea {
  margin: 0 5px;
}

option {
  text-transform: capitalize;
}

.color-selection {
  color: #b27d4d;
  color: #c29770;
  color: #b2b04d;
  color: #4d82b2;
  color: #b24d4f;
  color: #5a2d04;
}
