.home-bg {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
  background: url("../assets/home-bg.jpeg") left center / 75% 100% no-repeat,
    #f9f5ef;
  background-position: -25px;
  background-color: #430d01;
}

.home-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-nav {
  padding: 1% 30%;
}

.home-nav a {
  padding: 15px 7px;
  font-family: "Dongle", sans-serif;
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
  color: #5a2d04;
}

.home-nav :hover {
  color: #b37429;
}

.main-home {
  width: 100%;
  height: auto;
}

.home-tilte-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  color: #5a2d04;
  padding: 2% 0;
}

.styling1 {
  font-size: 58px;
  font-family: "Mr Bedfort", cursive;
  width: 80%;
}

.styling2 {
  font-size: 160px;
  padding-left: 25%;
}

.bean-button {
  display: block;
  max-width: 50%;
  height: auto;
  border: none;
  background: none;
  cursor: pointer;
  animation: spinImage 12s linear infinite;
}

.bean-form {
  position: relative;
  left: 20%;
  top: 30%;
  display: flex;
  justify-content: center;
}

@keyframes spinImage {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.home-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}

.logo-img {
  width: 350px;
  height: 300px;
}


.about-header {
  display: flex;
  justify-content: space-between;
  background-color: #430d01;
}

.about-nav {
  justify-content: start;
  margin-left: 9%;
}

.about-sign {
  justify-content: end;
  align-items: center;
  margin-right: 9%;
}

.about-nav a,
.about-sign a {
  font-family: "Dongle", sans-serif;
  color: #b27d4d;
  font-weight: bold;
  padding-top: 5%;
  font-size: 32px;
}

.about-nav :hover,
.about-sign :hover {
  color: whitesmoke;
}

.about-bg-top {
  background-image: url("../assets/about-bg-top.png");
  background-size: contain;
  background-position: top center;
  height: 200px;
}

.about-bg-bot {
  background-image: url("../assets/about-bg-bot.png");
  background-size: contain;
  background-position: bottom center;
  height: 200px;
}

.about-text {
  font-family: "Dongle", sans-serif;
  justify-content: start;
  color: #b27d4d;
  font-size: 32px;
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  line-height: 1;
}

.search-bg {
  position: relative;
  background-image: url("../assets/search-bg.jpeg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.search-bg * {
  position: relative;
  z-index: 1;
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 106, 0, 0.3);
  margin-top: 20px;
  height: 40px;
  margin-bottom: 20px;
}

.search-nav {
  display: flex;
  font-size: 32px;
}

.search-nav a {
  text-decoration: none;
  padding: 10px;
  padding-top: 15px;
  color: whitesmoke;
  font-weight: bold;
}

.search-forms {
  display: flex;
  margin-top: 3%;
  background-color: rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  height: 70vh;
}

.left-form {
  text-align: center;
  justify-content: start;
  font-size: 28px;
  padding: 1.2em;
  width: 30%;
}

.left-form form label,
.right-form form label {
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 48px;
}

.search-button-left {
  background-color: rgba(255, 106, 0, 0.5);
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
}

.right-form {
  text-align: center;
  justify-content: center;
  padding: 2em;
  width: 40%;
}

.right-form form label {
  font-size: 48px;
}

.right-form table label {
  padding-left: 120px;
  text-align: start;
  font-size: 38px;
}

.right-form select {
  font-size: 22px;
  width: 150px;
  box-sizing: border-box;
  margin-left: 55px;
  border-radius: 5px;
}

.solo-input {
  margin-left: 56px;
  width: 148px;
  height: 36px;
  font-size: 28px;
}

.search-button-right {
  background-color: rgba(255, 106, 0, 0.5);
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 28px;
  margin-top: 7%;
}

.search-map {
  text-align: center;
  justify-content: start;
  font-size: 48px;
  padding: 0.8em;
  width: 30%;
}

.search-map img {
  width: 300px;
  height: 300px;
  padding-top: 5%;
}

.search-forms,
.search-header,
.search-map {
  font-family: "Dongle", sans-serif;
}

.sr-bg {
  background-image: url("../assets/sr-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.sr-header {
  display: flex;
  justify-content: center;
  padding-right: 45%;
}

.sr-nav a {
  padding: 0 15px;
  text-decoration: none;
  font-family: "Dongle", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
}

.sr-nav a:hover {
  color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: yellow;
}

.sr-content {
  font-size: 6.5rem;
}

.sr-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Dongle", sans-serif;
  font-size: 1.75rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: whitesmoke;
}
.sr-table .table {
  color: whitesmoke;
}

.back-home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dongle", sans-serif;
  font-size: 2.5rem;
  margin: 2% auto;
  width: 80%;
}

.sr-table .table a,
.back-home a {
  color: yellow;
}

.bedfort-font {
  font-family: "Mr Bedfort", cursive;
  font-weight: 400;
  font-style: normal;
}

.dongle-font {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

option {
  text-transform: capitalize;
}