{% extends 'base.html' %} {% block content %}

<body style="background-color: #ffecb4">
  <header class="about-header">
    <div class="about-nav">
      <a href="{{ url_for('home') }}" role="button" class="btn">HOME</a>
      <a href="{{ url_for('search') }}" role="button" class="btn">SEARCH</a>
      <a href="{{ url_for('about') }}" role="button" class="btn">ABOUT</a>
    </div>

  </header>

  <div class="about-bg-top"></div>

  <div class="about-text">
    <p>
      <span
        class="bedfort-font"
        style="font-size: 52px; color: #5a2d04; vertical-align: super"
      >
        Shoffee Cup
      </span>
      is a user-friendly platform designed to help coffee lovers and remote
      workers discover the perfect spot nearby. Whether you’re looking for a
      quiet place to work, a cozy corner to hang out, or simply a new cafe to
      try, our platform makes it easy to find the right place.</br></br>
      <span style="color: #5a2d04; font-weight: bold;">Key Features:</span>
      <ul>
        <li>
          <strong>The Nearest Cafe:</strong> On the home page, simply click the
          “Find Nearest Cafe” button, and Cafes Around Me will locate the closest
          cafes to your current location.
        </li>
        <li>
          <strong>Browse Cafes in Your Area:</strong> Explore any cafes in your
          region using our integrated Squarespace API. Filter and browse to
          discover new spots based on your preferences.
        </li>
        <li>
          <strong>Rate and Review:</strong> Sign in to rate cafes for their
          utilities, comfort, and convenience. Your feedback helps the community
          make informed choices and supports cafe owners in improving their
          services.
        </li>
      </ul>
      Our goal is to make discovering local cafes effortless and enjoyable.
      Whether you’re a casual visitor or a regular cafe-goer, Cafes Around Me
      connects you with the best spots around you, all in one place.
    </p>
  </div>

  <div class="about-bg-bot"></div>
</body>

{% endblock %}
