{% extends 'base.html' %} {% block content %}

<body class="home-bg">
  <header class="row home-header">
    <div class="home-nav">
      <a href="{{ url_for('home') }}" role="button">HOME</a>
      <a href="{{ url_for('search') }}" role="button">SEARCH</a>
      <a href="{{ url_for('about') }}" role="button">ABOUT</a>
    </div>
  </header>
  <main class="row main-home">
    <div class="col-4 home-tilte-container">
      <p class="styling1">
        Grab a cup of <span class="styling2">coffee?</span>
      </p>
    </div>
    <div class="col-5">
      <form
        id="nearestForm"
        method="POST"
        action="{{ url_for('search_nearest') }}"
        class="bean-form"
      >
        <button
          type="submit"
          class="bean-button"
          onclick="setCoordinates(event)"
        >
          <img
            src="{{ url_for('static', filename='assets/Coffee-bean.png') }}"
            alt="Coffee Bean"
          />
        </button>
      </form>
    </div>
    <div class="col-3 container home-right-container">
      <img
        class="logo-img"
        src="{{ url_for('static', filename='assets/logo.png')}}"
        alt=""
      />
    </div>

    <script>
      window.onload = function () {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(
            function (position) {
              const lat = position.coords.latitude;
              const lon = position.coords.longitude;

              fetch("{{ url_for('save_location') }}", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ lat: lat, lon: lon }),
              }).then((response) => {
                console.log("Location saved to session");
              });
            },
            function (error) {
              console.warn("Location access denied or failed:", error);
            }
          );
        } else {
          console.warn("Geolocation not supported by this browser.");
        }
      };
    </script>
  </main>
</body>

{% endblock %}
